.container {
  display: flex;
}
.checkbox,
.selected {
  display: flex;
  flex-direction: column;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  width: 300px;
  height: 200px;
  margin: 10px;
  margin-right: 0px;
  padding: 10px;
  overflow: scroll;
}

.allFalse {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.innerContainer {
  display: flex;
  align-content: center;
  align-items: center;
}

.setNone {
  display: none;
}
