.content {
  padding: 20px;
}

.content ul {
  display: inline-flexbox;
}

.content ul li {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding-left: 20px;
}

.content p {
  margin: 0;
}
