.container {
  margin: 5px 10px;
  padding: 5px;
  padding-right: 0px;
}
.button {
  background-color: rgb(233, 248, 210);
  border: none;
  border-radius: 4px;
  padding: 7px 20px;
  cursor: pointer;
}
