.container {
  display: flex;
  flex-direction: row;
}

.container > .name {
  flex: 1 1 30%;
}
.container > .content {
  flex: 1 1 70%;
}

.content > div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.content > div > span:nth-child(1) {
  margin-right: 10px;
}
.content > div > span:nth-child(3) {
  margin: 0 10px;
}
