.button {
  border: none;
  font-weight: 500;
  border-radius: 4px;
  padding: 8px 20px;
  margin: 0 5px;
}
.save {
  background: var(--maincolor-deepblue);
  color: #fff;
  outline: 2px solid var(--maincolor-deepblue);
}

.delete {
  background: transparent;
  color: var(--maincolor-red);

  outline: 2px solid var(--maincolor-red);
}

.add {
  background: transparent;
  outline: 2px solid var(--maincolor-deepblue);
}

.category {
  background: var(--maincolor-lightgrey);
  outline: 2px solid var(--maincolor-deepblue);
}

.addIMG {
  background: transparent;
  outline: 2px solid rgb(53, 47, 110);
  border-radius: 0px;
}
