.button {
  border: none;
  font-weight: 500;
  border-radius: 4px;
  padding: 8px 20px;
  margin: 0 5px;
  cursor: pointer;
}
.save {
  background: var(--maincolor-deepblue);
  color: #fff;
  outline: 1.8px solid var(--maincolor-deepblue);
  margin-right: 20px;
}

.delete {
  background: transparent;
  color: var(--maincolor-red);

  outline: 1.8px solid var(--maincolor-red);
}

.add {
  background: transparent;
  outline: 1.8px solid rgb(92 85 167);
  --outline: 2px solid var(--maincolor-deepblue);
}

.category {
  background: var(--maincolor-lightgrey);
  outline: 2px solid var(--maincolor-deepblue);
}

.addIMG {
  background: transparent;
  outline: 2px solid rgb(53, 47, 110);
  border-radius: 2px;
}

.xBadge {
  background: transparent;
  border-radius: 50%;
  border: 2px solid var(--maincolor-grey);
  height: 30px;
  width: 30px;

  padding: 13px;
  margin: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  align-items: space-between;
}
